/**
Bootstrap Portfolio CSS Stylesheet
 **/

body{
    background: url("../images/memphis-mini.png"); 
    padding: 0;
    margin: 0;   
}

.container2{
    overflow: scroll;
}

.navbar-wrapper {
    background-color: #f8f9fa;
    border: #cccccc solid 1px;
    margin: 0 0 40px 0;
}

.navbar {
    max-width: 960px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 20px 0 0 0;
}

.navbar-brand{
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
    padding: 40px;
    font-size: 40px;
    font-weight: bold;
    margin: 0 230px 0 0;
    color: #fff;
}

#icon{
    width: 400px;
    margin: 0px auto 0px;
}

.navbar-nav{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    list-style-type: none;
    text-align: right;  
}

a{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

.nav-item, .active{
    display: inline-block;
    text-decoration: none;
    border-left: 1px solid #cccccc;
}

.nav-item:first-child{
    border-left: none;
}

a:link {
    text-decoration: none;
    color: #ffffff;
}
  
a:visited {
    text-decoration: none;
}
  
a:hover {
    text-decoration: underline;
    color: #48B873;
}
  
a:active {
    text-decoration: underline;
    color: #4882B8;
}

.container{
    background-color: #ffffff;
    border-color: #dddddd;
    width: 960px;
    margin: 0 auto 0;
    border-style: solid; 
}

.col-md-12{
    font-family: 'Alegreya Sans SC', sans-serif, Times, Times New Roman, serif;
    color: #4aaaa5;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #dddddd;
    padding: 40px 0 40px 0;
}

.contact-info{
    border-bottom: none;
    padding: 40px 0 0px 0;
}

h2{
    margin: 0 0px 0 40px;
}

#input{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    margin: 0 40px 40px 40px;
    padding: 25px 0 0px 0;
}

.col-md-3{
    padding: 40px 10px 10px 40px;
}

.col-md-9{
    padding: 40px 40px 40px 10px;
}
.col-md-2{
    padding: 0px 0px 40px 40px;
}

form{ 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    padding: 0 40px 10px 40px;
}

.btn{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
    background-color: #4aaaa5;
    border: none;
    padding: 8px 20px 8px 20px;
    width: 100px;
}

#eat-cake{
    margin: 20px 20px 0px 20px;
    padding: 0px 0 0px 0;
    text-align: center;
    width: 250px;
}

#hangman{
    margin: 20px 20px 0px 20px;
    padding: 0px 0 0px 0;
    text-align: center;
    width: 250px;
}

#rpg{
    margin: 20px 20px 0px 20px;
    padding: 0px 0 40px 0;
    text-align: center;
    width: 250px;
}

#gems{
    margin: 0px 20px 0px 20px;
    padding: 0px 0 0px 0;
    text-align: center;
    width: 250px;
}

#quiz{
    margin: 0px 20px 0px 20px;
    padding: 0px 0 0px 0;
    text-align: center;
    width: 250px;
}

#gif{
    margin: 0px 20px 0px 20px;
    padding: 0px 0 0px 0;
    text-align: center;
    width: 250px;
}

#train{
    margin: -25px 20px 0px 20px;
    padding: 0px 0 100px 0;
    text-align: center;
    width: 250px;
}

#eat-cake-caption{
    font-family: 'Alegreya Sans SC', sans-serif, Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: -62px 40px 40px 20px;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    position: absolute;
}

#hangman-caption{
    font-family: 'Alegreya Sans SC', sans-serif, Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: -31px 0px 40px 20px;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    position: absolute;
}

#rpg-caption{
    font-family: 'Alegreya Sans SC', sans-serif, Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: -40px 40px 40px 20px;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    position: absolute;
}

#gems-caption{
    font-family: 'Alegreya Sans SC', sans-serif, Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: -25px 40px 40px 20px;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    position: absolute;
}

#quiz-caption{
    font-family: 'Alegreya Sans SC', sans-serif, Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: -45px 0px 40px 20px;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    position: absolute;
}

#gif-caption{
    font-family: 'Alegreya Sans SC', sans-serif, Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: -5px 0px 40px 20px;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    position: absolute;
}

#train-caption{
    font-family: 'Alegreya Sans SC', sans-serif, Times, Times New Roman, serif;
    background-color: #4aaaa5;
    color: #ffffff;
    margin: -95px 40px 0px 20px;
    padding: 15px 0;
    text-align: center;
    width: 250px;
    position: absolute;
}

.fab, .fas{
    font-size: 35px;
    color: #ffffff;
    margin: 0 10px 0 10px;
}

.large{
    font-size: 60px;
    color:  #4aaaa5;
    margin: 0 20px 0 20px;
}

.lets-connect{
    padding: 20px 0 0px 0;
    border-bottom: none;
}

.submit-button{
    padding: 0px 0px 15px 40px;
}
    
.footer{
    background-color: #666666;
    border-color: #4aaaa5;
    color: #ffffff;
    border-style: solid;
    border-width: 8px 0 0 0;
    text-align: center;
    overflow: hidden;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
